@mixin anim_cubic($time, $delay) {
	-webkit-transition:nall $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;
	-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;
	-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;
	-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;
	transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;
}