<footer class="footer">
	<div class="container">

		<div class="footer__body">

			<div class="footer__column footer__column--left">
				<a href="" class="footer__logo logo">
					<img src="images/dest/logo.svg" alt="Delivery Food" title="Delivery Food — доставка еды на дом">
				</a>

				<nav class="footer__menu menu-footer">
					<ul class="menu-footer__list">
						<li><a href="" class="menu-footer__link">Ресторанам</a></li>
						<li><a href="" class="menu-footer__link">Курьерам</a></li>
						<li><a href="" class="menu-footer__link">Пресс-центр</a></li>
						<li><a href="" class="menu-footer__link">Контакты</a></li>
					</ul>
				</nav>
			</div>

			<div class="footer__column">
				<ul class="footer__soc soc">
					<li><a href="" class="soc__link"><img src="images/dest/icons/social/instagram.svg" alt="Instagram"></a></li>
					<li><a href="" class="soc__link"><img src="images/dest/icons/social/facebook.svg" alt="Facebook"></a></li>
					<li><a href="" class="soc__link"><img src="images/dest/icons/social/vkontakte.svg" alt="Вконтакте"></a></li>
				</ul>
			</div>

		</div>

	</div>
</footer>