<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Delivery Food - доставка еды на дом</title>
	<meta name="description" content="">

	<meta name="format-detection" content="telephone=no">
	<!-- <meta name="robots" content="noindex, nofollow"> -->

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"> -->

	<link rel="shortcut icon" href="images/favicon.ico">
	<meta property="og:image" content="">
	<link rel="stylesheet" href="css/app.min.css">

</head>

<body>

	<div class="wrapper">

		@@include('header.html')

		<main class="main">

			<section class="promo">
				<div class="container">
			
					<div class="promo__body">
						<div class="promo__image ibg">
							<img src="images/dest/promo/01.png" alt="">
						</div>
			
						<div class="promo__text">
							<h1 class="promo__title">Онлайн-сервис <br> доставки еды на дом</h1>
							<p class="promo__descr">Блюда из любимого ресторана привезет курьер в перчатках, маске и с антисептиком</p>
						</div>
					</div>
			
				</div>
			</section>
			
			<section class="restaurants">
				<div class="container">
			
					<div class="restaurants__header-block header-block">
						<h2 class="header-block__title">Рестораны</h2>
						<div class="header-block__input input-search">
							<input autocomplete="off" type="text" name="form[]" data-type="search" data-value="Поиск блюд и ресторанов" class="input">
						</div>
					</div>
			
					<div class="restaurants__items">
			
						<div class="restaurants__column">
							<a href="restaurant.html" class="restaurants-card wow fadeInUp" data-wow-delay="0.2s">
								<div class="restaurants-card__image">
									<img src="images/dest/restourants/01.jpg" alt="">
								</div>
								<div class="restaurants-card__content">
									<div class="restaurants-card__header-block">
										<h3 class="restaurants-card__title">Пицца плюс</h3>
										<span class="restaurants-card__tag tag">50 мин</span>
									</div>
									<div class="restaurants-card__info info-restaurants">
										<div class="info-restaurants__rating rating">4.5</div>
										<span class="info-restaurants__price price">От 300 руб</span>
										<span class="info-restaurants__category category">Пицца</span>
									</div>
								</div>
							</a>
						</div>
			
						<div class="restaurants__column">
							<a href="restaurant.html" class="restaurants-card wow fadeInUp" data-wow-delay="0.4s">
								<div class="restaurants-card__image">
									<img src="images/dest/restourants/02.jpg" alt="">
								</div>
								<div class="restaurants-card__content">
									<div class="restaurants-card__header-block">
										<h3 class="restaurants-card__title">Тануки</h3>
										<span class="restaurants-card__tag tag">40 мин</span>
									</div>
									<div class="restaurants-card__info info-restaurants">
										<div class="info-restaurants__rating rating">4.0</div>
										<span class="info-restaurants__price price">От 250 руб</span>
										<span class="info-restaurants__category category">Суши</span>
									</div>
								</div>
							</a>
						</div>
			
						<div class="restaurants__column">
							<a href="restaurant.html" class="restaurants-card wow fadeInUp" data-wow-delay="0.6s">
								<div class="restaurants-card__image">
									<img src="images/dest/restourants/03.jpg" alt="Рейтинг ресторана">
								</div>
								<div class="restaurants-card__content">
									<div class="restaurants-card__header-block">
										<h3 class="restaurants-card__title">FoodBand</h3>
										<span class="restaurants-card__tag tag">45 мин</span>
									</div>
									<div class="restaurants-card__info info-restaurants">
										<div class="info-restaurants__rating rating">4.4</div>
										<span class="info-restaurants__price price">От 280 руб</span>
										<span class="info-restaurants__category category">Пицца</span>
									</div>
								</div>
							</a>
						</div>
			
						<div class="restaurants__column">
							<a href="restaurant.html" class="restaurants-card wow fadeInUp" data-wow-delay="0.2s">
								<div class="restaurants-card__image">
									<img src="images/dest/restourants/04.jpg" alt="Рейтинг ресторана">
								</div>
								<div class="restaurants-card__content">
									<div class="restaurants-card__header-block">
										<h3 class="restaurants-card__title">Shirehary</h3>
										<span class="restaurants-card__tag tag">45 мин</span>
									</div>
									<div class="restaurants-card__info info-restaurants">
										<div class="info-restaurants__rating rating">5.0</div>
										<span class="info-restaurants__price price">От 320 руб</span>
										<span class="info-restaurants__category category">Суши</span>
									</div>
								</div>
							</a>
						</div>
			
						<div class="restaurants__column">
							<a href="restaurant.html" class="restaurants-card wow fadeInUp" data-wow-delay="0.4s">
								<div class="restaurants-card__image">
									<img src="images/dest/restourants/05.jpg" alt="Рейтинг ресторана">
								</div>
								<div class="restaurants-card__content">
									<div class="restaurants-card__header-block">
										<h3 class="restaurants-card__title">Buzzells</h3>
										<span class="restaurants-card__tag tag">55 мин</span>
									</div>
									<div class="restaurants-card__info info-restaurants">
										<div class="info-restaurants__rating rating">4.2</div>
										<span class="info-restaurants__price price">От 400 руб</span>
										<span class="info-restaurants__category category">Роллы</span>
									</div>
								</div>
							</a>
						</div>
			
						<div class="restaurants__column">
							<a href="restaurant.html" class="restaurants-card wow fadeInUp" data-wow-delay="0.6s">
								<div class="restaurants-card__image">
									<img src="images/dest/restourants/06.jpg" alt="Рейтинг ресторана">
								</div>
								<div class="restaurants-card__content">
									<div class="restaurants-card__header-block">
										<h3 class="restaurants-card__title">PizzaBurger</h3>
										<span class="restaurants-card__tag tag">35 мин</span>
									</div>
									<div class="restaurants-card__info info-restaurants">
										<div class="info-restaurants__rating rating">4.5</div>
										<span class="info-restaurants__price price">От 240 руб</span>
										<span class="info-restaurants__category category">Пицца</span>
									</div>
								</div>
							</a>
						</div>
			
					</div>
			
				</div>
			</section>
			
		</main>

		@@include('footer.html')

	</div>

	@@include('popup.html')

	<script src="js/app.min.js"></script>

</body>
</html>