<div class="popup popup-callback">
	<div class="popup-table table">
		<div class="cell">
			<div class="popup-content">
				<div class="popup-close"></div>
				<div class="popup__title"></div>
				<div class="popup__txt"></div>
				<form action="#" class="popup-form form">
					<div class="form-input">
						<input autocomplete="off" type="text" name="form[]" data-value="" class="input">
					</div>
					<div class="form-input">
						<input autocomplete="off" type="text" name="form[]" data-value="" class="input req email">
					</div>
					<div class="form-input">
						<input autocomplete="off" type="text" name="form[]" data-value="" class="input req">
					</div>
					<div class="form-button">
						<button type="submit" class="form__btn btn fw"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Попап для отправки формы, должен быть класс .popup-message, класс .ms_1 добавляется из атрибута формы data-ms="ms_1". Класс придумывать самому. -->
<div class="popup popup-message ms_1">
	<div class="popup-table table">
		<div class="cell">
			<div class="popup-content">
				<div class="popup-close"></div>
				<div class="popup__title"></div>
				<div class="popup__txt">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quae nobis neque nam quidem. Dolorum
					repellendus, voluptatibus animi debitis! Similique dolorum facilis iusto atque laborum minima omnis ipsam
					rerum ab!
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup popup-video">
	<div class="popup-table table">
		<div class="cell">
			<div class="popup-close"></div>
			<div class="popup-video__value"></div>
		</div>
	</div>
</div>


<div class="modal">
	<div class="modal-dialog">
		<div class="modal-dialog__header">
			<h3 class="modal-dialog__title">Корзина</h3>
			<button class="modal-dialog__close">&times;</button>
		</div>
		
		<div class="modal-dialog__body">
			<form action="#" class="counter">
				<div class="foods-row">
					<span class="food-name">Ролл угорь стандарт</span>
					<div class="counter-block">
						<strong class="food-price"><span>250</span> ₽</strong>
						<button class="counter-btn dwn">-</button>
						<div class="counter-input">
							<input autocomplete="off" type="text" name="form[]" data-value="" value="1" class="input-quantity">
						</div>
						<button class="counter-btn up">+</button>
					</div>
				</div>

				<div class="foods-row">
					<span class="food-name">Ролл угорь стандарт</span>
					<div class="counter-block">
						<strong class="food-price"><span>250</span> ₽</strong>
						<button class="counter-btn dwn">-</button>
						<div class="counter-input">
							<input autocomplete="off" type="text" name="form[]" data-value="" value="1" class="input-quantity">
						</div>
						<button class="counter-btn up">+</button>
					</div>
				</div>

				<div class="foods-row">
					<span class="food-name">Ролл угорь стандарт</span>
					<div class="counter-block">
						<strong class="food-price"><span>250</span> ₽</strong>
						<button class="counter-btn dwn">-</button>
						<div class="counter-input">
							<input autocomplete="off" type="text" name="form[]" data-value="" value="1" class="input-quantity">
						</div>
						<button class="counter-btn up">+</button>
					</div>
				</div>

				<div class="foods-row">
					<span class="food-name">Ролл угорь стандарт</span>
					<div class="counter-block">
						<strong class="food-price"><span>250</span> ₽</strong>
						<button class="counter-btn dwn">-</button>
						<div class="counter-input">
							<input autocomplete="off" type="text" name="form[]" data-value="" value="1" class="input-quantity">
						</div>
						<button class="counter-btn up">+</button>
					</div>
				</div>

				<div class="foods-row">
					<span class="food-name">Ролл угорь стандарт</span>
					<div class="counter-block">
						<strong class="food-price"><span>250</span> ₽</strong>
						<button class="counter-btn dwn">-</button>
						<div class="counter-input">
							<input autocomplete="off" type="text" name="form[]" data-value="" value="1" class="input-quantity">
						</div>
						<button class="counter-btn up">+</button>
					</div>
				</div>

				<div class="modal-dialog__send">
					<span class="modal-dialog__pricetag">1250 ₽</span>
					<div class="modal-dialog__btn-block">
						<button tupe="submit" class="modal-dialog__btn btn">Оформить заказ</button>
						<button type="reset" class="modal-dialog__btn btn btn--car">Отмена</button>
					</div>
				</div>
				
			</form>
		</div>

	</div>
</div>
