<footer class="footer">

	
	<div class="footer__image ibg">
		<img src="images/dest/main/01.jpg" alt="">
	</div>
	
	<div class="footer__overlay overlay-section"></div>

	<div class="container">

		<div class="footer__body">

			<div class="footer__column copy__column">
				<div class="footer__copy">© 2020 WOODER</div>
			</div>

			<div class="footer__column logo__column">
				<a href="" class="footer__logo logo">
					<img src="images/dest/logo.png" alt="">
				</a>
			</div>

			<div class="footer__column">
				<div class="footer__link-block">
					<span>Разработано</span>
					<a href="" class="footer__link">Viacheslav Olianishyn</a>
				</div>
			</div>
			
		</div>
		
	</div>
</footer>